node-red-debug/node_red_data/flows.json
[
    {
        "id": "c93c614a599c933f",
        "type": "tab",
        "label": "Transfer Funcion",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a66482931460f20",
        "type": "inject",
        "z": "c93c614a599c933f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "99a477e778710b4d"
            ]
        ]
    },
    {
        "id": "99a477e778710b4d",
        "type": "transfer-function",
        "z": "c93c614a599c933f",
        "name": "",
        "function": "8 / (8s + 1)",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "f31516dc93619357"
            ]
        ]
    },
    {
        "id": "f31516dc93619357",
        "type": "debug",
        "z": "c93c614a599c933f",
        "name": "output h(s)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    }
]